apiVersion: v1
kind: ConfigMap
metadata:
  name: karpenter-global-settings
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "karpenter.labels" . | nindent 4 }}
  {{- with .Values.additionalAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
data:
  {{- list .Values.settings "" | include "flattenSettings" | indent 2 | replace "CLUSTER_NAME" .Values.clusterID | replace "CLUSTER_ENDPOINT" (printf "%s.%s" "http://api" .Values.baseDomain) }}
