karpenter:
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - topologyKey: "kubernetes.io/hostname"
  # -- Topology spread constraints to increase the controller resilience by distributing pods across the cluster zones. If an explicit label selector is not provided one will be created from the pod selector labels.
  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: topology.kubernetes.io/zone
      whenUnsatisfiable: ScheduleAnyway
  # -- Tolerations to allow the pod to be scheduled to nodes with taints.
  tolerations:
    - key: CriticalAddonsOnly
      operator: Exists
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
    - effect: NoSchedule
      key: "node.cluster.x-k8s.io/uninitialized"
      operator: "Exists"

  controller:
    image:
      # -- Repository path to the controller image.
      repository: gsoci.azurecr.io/giantswarm/karpenter-controller
      # -- Tag of the controller image.
      tag: v0.29.2
      # -- SHA256 digest of the controller image.
      digest: sha256:bac5ea470c09df21eb3742cf9448e9b806138ed5b6321d4e04697bbdf122eac6

  settings:
    aws:
      # -- Cluster name.
      clusterName: "CLUSTER_NAME"
      # -- Cluster endpoint. If not set, will be discovered during startup (EKS only)
      clusterEndpoint: "CLUSTER_ENDPOINT"
      # -- The default instance profile to use when launching nodes
      defaultInstanceProfile: ""
      # -- If true then instances that support pod ENI will report a vpc.amazonaws.com/pod-eni resource
      enablePodENI: false
      # -- Indicates whether new nodes should use ENI-based pod density
      # DEPRECATED: Use `.spec.kubeletConfiguration.maxPods` to set pod density on a per-provisioner basis
      enableENILimitedPodDensity: true
      # -- If true then assume we can't reach AWS services which don't have a VPC endpoint
      # This also has the effect of disabling look-ups to the AWS pricing endpoint
      isolatedVPC: false
      # -- The node naming convention (either "ip-name" or "resource-name")
      nodeNameConvention: "ip-name"
      # -- The VM memory overhead as a percent that will be subtracted from the total memory for all instance types
      vmMemoryOverheadPercent: 0.075
      # -- interruptionQueueName is disabled if not specified. Enabling interruption handling may
      # require additional permissions on the controller service account. Additional permissions are outlined in the docs.
      interruptionQueueName: "CLUSTER_NAME-karpenter"
      # -- The global tags to use on all AWS infrastructure resources (launch templates, instances, etc.) across node templates
      tags:

flowSchema:
  # -- Specifies the flowSchema configuration for leader-election calls.
  leaderElection:
    # -- Specifies if a the leaderElection flowSchema should be created.
    create: true
    # -- Specifies the precedence of the leaderElection flowSchema.
    matchingPrecedence: 300
  # -- Specifies the flowSchema configuration for all other calls.
  workload:
    # -- Specifies if a the workload flowSchema should be created.
    create: true
    # -- Specifies the precedence of the workload flowSchema.
    matchingPrecedence: 1000

defaultProvisioner:
  enabled: false
  nodePoolName: karpenter

# Fields managed by cluster-user-values
clusterID: ""
baseDomain: ""
aws:
  accountID: ""
global:
  podSecurityStandards:
    enforced: false
